In [2]:
import numpy as np

In [4]:
import pandas as pd
import os

In [6]:
os.getcwd()

'/Users/nabinagahatraj/Desktop'

In [8]:
df=pd.read_csv('USA Covid Data.csv')
df

,USA State,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,Alabama,1659936,21138,1623935.0,14863.0,338542,4311,9332317,1903317,4903185
1,Alaska,301513,1485,298902.0,1126.0,412159,2030,4790640,6548661,731545
2,Arizona,2508168,33749,2461333.0,13086.0,344589,4637,22489035,3089698,7278717
3,Arkansas,1029976,13246,1012777.0,3953.0,341300,4389,8036831,2663139,3017804
4,California,12393361,104634,12227662.0,61065.0,313659,2648,202799362,5132573,39512223
5,Colorado,1801735,15348,1776536.0,9851.0,312870,2665,21396759,3715530,5758736
6,Connecticut,983652,12354,969400.0,1898.0,275897,3465,16773196,4704585,3565287
7,Delaware,336722,3463,331696.0,1563.0,345794,3556,1026007,1053651,973764
8,Florida,7758207,90232,7612612.0,55363.0,361221,4201,66800091,3110202,21477737
9,Georgia,3157491,43095,3075283.0,39113.0,297388,4059,28915980,2723446,10617423
10,Hawaii,401852,2009,395053.0,4790.0,283819,1419,4101166,2896566,1415872
11,Idaho,525825,5482,517984.0,2359.0,294239,3068,3301678,1847542,1787065
12,Illinois,4136659,42005,4094654.0,0.0,326446,3315,57898053,4569040,12671821
13,Indiana,2105286,26672,NaN,NaN,312718,3962,21512168,3195405,6732219
14,Iowa,1058274,10797,1031729.0,15748.0,335420,3422,8492575,2691723,3155070
15,Kansas,946564,10229,934730.0,1605.0,324910,3511,6215342,2133427,2913314
16,Kentucky,1787563,19133,1738136.0,30294.0,400111,4283,13675281,3060940,4467673
17,Louisiana,1659969,19163,1612348.0,28458.0,357075,4122,18935316,4073167,4648794
18,Maine,326868,3110,321804.0,1954.0,243167,2314,5956082,4430910,1344212
19,Maryland,1394250,16928,1371142.0,6180.0,230619,2800,25094995,4150897,6045680
20,Massachusetts,2272428,24858,2241026.0,6544.0,329696,3607,50416970,7314755,6892503
21,Michigan,3142827,43284,3082734.0,16809.0,314696,4334,28943982,2898207,9986857
22,Minnesota,1812049,15428,1793505.0,3116.0,321306,2736,24412112,4328671,5639632
23,Mississippi,1000415,13474,984056.0,2885.0,336144,4527,7063623,2373410,2976149
24,Missouri,1780715,22778,1757937.0,0.0,290140,3711,14632189,2384091,6137428
25,Montana,333758,3712,329725.0,321.0,312280,3473,2789012,2609534,1068778
26,Nebraska,574399,5063,566979.0,2357.0,296938,2617,5506012,2846355,1934408
27,Nevada,909923,12126,891273.0,6524.0,295415,3937,6875532,2232203,3080156
28,New Hampshire,382013,3099,NaN,NaN,280952,2279,4845153,3563370,1359711
29,New Jersey,3123426,36266,3055814.0,31346.0,351650,4083,32419102,3649900,8882190
30,New Mexico,681525,9236,660313.0,11976.0,325027,4405,8610078,4106238,2096829
31,New York,7122731,78103,7014253.0,30375.0,366140,4015,131503719,6759879,19453561
32,North Carolina,3501404,29059,NaN,NaN,333846,2771,26656056,2541556,10488084
33,North Dakota,293570,2513,290540.0,517.0,385231,3298,2462480,3231338,762062
34,Ohio,3504742,42522,3430857.0,31363.0,299830,3638,24766997,2118811,11689100
35,Oklahoma,1306350,16157,1288527.0,1666.0,330139,4083,5473577,1383274,3956971
36,Oregon,974924,9544,956827.0,8553.0,231149,2263,12508506,2965691,4217737
37,Pennsylvania,3565499,51480,NaN,NaN,278511,4021,30962562,2418574,12801989
38,Rhode Island,443803,4166,439178.0,459.0,418935,3933,8808359,8314785,1059361
39,South Carolina,1857853,20311,1827064.0,10478.0,360838,3945,18979097,3686182,5148714
40,South Dakota,282895,3231,NaN,NaN,319779,3652,2331003,2634917,884659
41,Tennessee,2588139,29734,2548828.0,9577.0,378983,4354,14843622,2173560,6829174
42,Texas,8792279,94873,8598329.0,99077.0,303225,3272,73904384,2548789,28995881
43,Utah,1106483,5418,1096422.0,4643.0,345133,1690,9406861,2934181,3205958
44,Vermont,154009,929,153011.0,69.0,246814,1489,4184358,6705820,623989
45,Virginia,2315784,23748,2289616.0,2420.0,271311,2782,19172533,2246206,8535519
46,Washington,1989477,16151,1960007.0,13319.0,261261,2121,18887049,2480278,7614893
47,West Virginia,657760,8188,644461.0,5111.0,367023,4569,7291246,4068442,1792147
48,Wisconsin,2043838,16758,2020642.0,6438.0,351028,2878,19643258,3373719,5822434
49,Wyoming,188851,2048,186326.0,477.0,326303,3539,1572010,2716174,578759

In [10]:
df.head(5)

,USA State,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,Alabama,1659936,21138,1623935.0,14863.0,338542,4311,9332317,1903317,4903185
1,Alaska,301513,1485,298902.0,1126.0,412159,2030,4790640,6548661,731545
2,Arizona,2508168,33749,2461333.0,13086.0,344589,4637,22489035,3089698,7278717
3,Arkansas,1029976,13246,1012777.0,3953.0,341300,4389,8036831,2663139,3017804
4,California,12393361,104634,12227662.0,61065.0,313659,2648,202799362,5132573,39512223

In [12]:
df.describe()

,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
count,5.000000e+01,50.000000,4.500000e+01,45.000000,50.0000,50.000000,5.000000e+01,5.000000e+01,5.000000e+01
mean,2.099555e+06,22770.580000,2.078133e+06,13326.422222,321633.3200,3403.980000,2.334829e+07,3.426067e+06,6.550675e+06
std,2.380548e+06,24439.304847,2.424155e+06,19472.358374,43011.9253,854.845671,3.452085e+07,1.522581e+06,7.389282e+06
min,1.540090e+05,929.000000,1.530110e+05,0.000000,230619.0000,1419.000000,1.026007e+06,1.053651e+06,5.787590e+05
25%,5.952392e+05,5434.000000,6.444610e+05,1898.000000,295795.7500,2773.750000,6.020897e+06,2.495598e+06,1.827712e+06
50%,1.527093e+06,15789.500000,1.371142e+06,6180.000000,324968.5000,3547.500000,1.415374e+07,2.949936e+06,4.558234e+06
75%,2.460072e+06,28462.250000,2.289616e+06,14863.000000,345628.7500,4077.000000,2.467828e+07,4.071986e+06,7.530849e+06
max,1.239336e+07,104634.000000,1.222766e+07,99077.000000,418935.0000,4637.000000,2.027994e+08,8.314785e+06,3.951222e+07

In [14]:
df.info()      #finding out if there are any null values in the data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   USA State          50 non-null     object
 1   Total Cases        50 non-null     int64
 2   Total Deaths       50 non-null     int64
 3   Total Recovered    45 non-null     float64
 4   Active Cases       45 non-null     float64
 5   Tot Cases/ 1M pop  50 non-null     int64
 6   Deaths/ 1M pop     50 non-null     int64
 7   Total Tests        50 non-null     int64
 8   Tests/ 1M pop      50 non-null     int64
 9   Population         50 non-null     int64
dtypes: float64(2), int64(7), object(1)
memory usage: 4.0+ KB

In [16]:
#finding out the missing values in each column of the dataset

missing_values= df.isnull().sum()
print(missing_values)

USA State            0
Total Cases          0
Total Deaths         0
Total Recovered      5
Active Cases         5
Tot Cases/ 1M pop    0
Deaths/ 1M pop       0
Total Tests          0
Tests/ 1M pop        0
Population           0
dtype: int64

In [18]:
#checking if there are any duplicate rows in the dataset

duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [USA State, Total Cases, Total Deaths, Total Recovered, Active Cases, Tot Cases/ 1M pop, Deaths/ 1M pop, Total Tests, Tests/ 1M pop, Population]
Index: []

In [20]:
#counting the total number of duplicated rows

duplicate_count = df.duplicated().sum()
print(f"Total number of duplicate rows: {duplicate_count}")

Total number of duplicate rows: 0

In [22]:
#Detecting any outliers  #Using IQR(Interquartile Range) Method:
column1= 'Total Tests'
Q1= df[column1].quantile(0.25)
Q3= df[column1].quantile(0.75)
IQR = Q3-Q1

In [24]:
lower_bound = Q1- 1.5*IQR
upper_bound = Q3+ 1.5*IQR
outliers = df[(df[column1] < lower_bound) | (df[column1] > upper_bound)]
print(outliers)

     USA State  Total Cases  Total Deaths  Total Recovered  Active Cases  \
4   California     12393361        104634       12227662.0       61065.0
8      Florida      7758207         90232        7612612.0       55363.0
12    Illinois      4136659         42005        4094654.0           0.0
31    New York      7122731         78103        7014253.0       30375.0
42       Texas      8792279         94873        8598329.0       99077.0

    Tot Cases/ 1M pop  Deaths/ 1M pop  Total Tests  Tests/ 1M pop  Population
4              313659            2648    202799362        5132573    39512223
8              361221            4201     66800091        3110202    21477737
12             326446            3315     57898053        4569040    12671821
31             366140            4015    131503719        6759879    19453561
42             303225            3272     73904384        2548789    28995881

In [26]:
#Replacing Outliers with Median:
median = df[column1].median()
df[column1] = np.where((df[column1] < lower_bound) | (df[column1] > upper_bound), median, df[column1])
df

,USA State,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,Alabama,1659936,21138,1623935.0,14863.0,338542,4311,9332317.0,1903317,4903185
1,Alaska,301513,1485,298902.0,1126.0,412159,2030,4790640.0,6548661,731545
2,Arizona,2508168,33749,2461333.0,13086.0,344589,4637,22489035.0,3089698,7278717
3,Arkansas,1029976,13246,1012777.0,3953.0,341300,4389,8036831.0,2663139,3017804
4,California,12393361,104634,12227662.0,61065.0,313659,2648,14153735.0,5132573,39512223
5,Colorado,1801735,15348,1776536.0,9851.0,312870,2665,21396759.0,3715530,5758736
6,Connecticut,983652,12354,969400.0,1898.0,275897,3465,16773196.0,4704585,3565287
7,Delaware,336722,3463,331696.0,1563.0,345794,3556,1026007.0,1053651,973764
8,Florida,7758207,90232,7612612.0,55363.0,361221,4201,14153735.0,3110202,21477737
9,Georgia,3157491,43095,3075283.0,39113.0,297388,4059,28915980.0,2723446,10617423
10,Hawaii,401852,2009,395053.0,4790.0,283819,1419,4101166.0,2896566,1415872
11,Idaho,525825,5482,517984.0,2359.0,294239,3068,3301678.0,1847542,1787065
12,Illinois,4136659,42005,4094654.0,0.0,326446,3315,14153735.0,4569040,12671821
13,Indiana,2105286,26672,NaN,NaN,312718,3962,21512168.0,3195405,6732219
14,Iowa,1058274,10797,1031729.0,15748.0,335420,3422,8492575.0,2691723,3155070
15,Kansas,946564,10229,934730.0,1605.0,324910,3511,6215342.0,2133427,2913314
16,Kentucky,1787563,19133,1738136.0,30294.0,400111,4283,13675281.0,3060940,4467673
17,Louisiana,1659969,19163,1612348.0,28458.0,357075,4122,18935316.0,4073167,4648794
18,Maine,326868,3110,321804.0,1954.0,243167,2314,5956082.0,4430910,1344212
19,Maryland,1394250,16928,1371142.0,6180.0,230619,2800,25094995.0,4150897,6045680
20,Massachusetts,2272428,24858,2241026.0,6544.0,329696,3607,50416970.0,7314755,6892503
21,Michigan,3142827,43284,3082734.0,16809.0,314696,4334,28943982.0,2898207,9986857
22,Minnesota,1812049,15428,1793505.0,3116.0,321306,2736,24412112.0,4328671,5639632
23,Mississippi,1000415,13474,984056.0,2885.0,336144,4527,7063623.0,2373410,2976149
24,Missouri,1780715,22778,1757937.0,0.0,290140,3711,14632189.0,2384091,6137428
25,Montana,333758,3712,329725.0,321.0,312280,3473,2789012.0,2609534,1068778
26,Nebraska,574399,5063,566979.0,2357.0,296938,2617,5506012.0,2846355,1934408
27,Nevada,909923,12126,891273.0,6524.0,295415,3937,6875532.0,2232203,3080156
28,New Hampshire,382013,3099,NaN,NaN,280952,2279,4845153.0,3563370,1359711
29,New Jersey,3123426,36266,3055814.0,31346.0,351650,4083,32419102.0,3649900,8882190
30,New Mexico,681525,9236,660313.0,11976.0,325027,4405,8610078.0,4106238,2096829
31,New York,7122731,78103,7014253.0,30375.0,366140,4015,14153735.0,6759879,19453561
32,North Carolina,3501404,29059,NaN,NaN,333846,2771,26656056.0,2541556,10488084
33,North Dakota,293570,2513,290540.0,517.0,385231,3298,2462480.0,3231338,762062
34,Ohio,3504742,42522,3430857.0,31363.0,299830,3638,24766997.0,2118811,11689100
35,Oklahoma,1306350,16157,1288527.0,1666.0,330139,4083,5473577.0,1383274,3956971
36,Oregon,974924,9544,956827.0,8553.0,231149,2263,12508506.0,2965691,4217737
37,Pennsylvania,3565499,51480,NaN,NaN,278511,4021,30962562.0,2418574,12801989
38,Rhode Island,443803,4166,439178.0,459.0,418935,3933,8808359.0,8314785,1059361
39,South Carolina,1857853,20311,1827064.0,10478.0,360838,3945,18979097.0,3686182,5148714
40,South Dakota,282895,3231,NaN,NaN,319779,3652,2331003.0,2634917,884659
41,Tennessee,2588139,29734,2548828.0,9577.0,378983,4354,14843622.0,2173560,6829174
42,Texas,8792279,94873,8598329.0,99077.0,303225,3272,14153735.0,2548789,28995881
43,Utah,1106483,5418,1096422.0,4643.0,345133,1690,9406861.0,2934181,3205958
44,Vermont,154009,929,153011.0,69.0,246814,1489,4184358.0,6705820,623989
45,Virginia,2315784,23748,2289616.0,2420.0,271311,2782,19172533.0,2246206,8535519
46,Washington,1989477,16151,1960007.0,13319.0,261261,2121,18887049.0,2480278,7614893
47,West Virginia,657760,8188,644461.0,5111.0,367023,4569,7291246.0,4068442,1792147
48,Wisconsin,2043838,16758,2020642.0,6438.0,351028,2878,19643258.0,3373719,5822434
49,Wyoming,188851,2048,186326.0,477.0,326303,3539,1572010.0,2716174,578759

In [28]:
#Handling missing values
#By imputation method: using mean to fill in the missing values
median_Total_Recovered= df['Total Recovered'].median()
median_Total_Recovered

1371142.0

In [30]:
#Fill missing Values in 'Total Recovered' with the mean of the column
df['Total Recovered'] = df['Total Recovered'].fillna(median_Total_Recovered)
df

,USA State,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,Alabama,1659936,21138,1623935.0,14863.0,338542,4311,9332317.0,1903317,4903185
1,Alaska,301513,1485,298902.0,1126.0,412159,2030,4790640.0,6548661,731545
2,Arizona,2508168,33749,2461333.0,13086.0,344589,4637,22489035.0,3089698,7278717
3,Arkansas,1029976,13246,1012777.0,3953.0,341300,4389,8036831.0,2663139,3017804
4,California,12393361,104634,12227662.0,61065.0,313659,2648,14153735.0,5132573,39512223
5,Colorado,1801735,15348,1776536.0,9851.0,312870,2665,21396759.0,3715530,5758736
6,Connecticut,983652,12354,969400.0,1898.0,275897,3465,16773196.0,4704585,3565287
7,Delaware,336722,3463,331696.0,1563.0,345794,3556,1026007.0,1053651,973764
8,Florida,7758207,90232,7612612.0,55363.0,361221,4201,14153735.0,3110202,21477737
9,Georgia,3157491,43095,3075283.0,39113.0,297388,4059,28915980.0,2723446,10617423
10,Hawaii,401852,2009,395053.0,4790.0,283819,1419,4101166.0,2896566,1415872
11,Idaho,525825,5482,517984.0,2359.0,294239,3068,3301678.0,1847542,1787065
12,Illinois,4136659,42005,4094654.0,0.0,326446,3315,14153735.0,4569040,12671821
13,Indiana,2105286,26672,1371142.0,NaN,312718,3962,21512168.0,3195405,6732219
14,Iowa,1058274,10797,1031729.0,15748.0,335420,3422,8492575.0,2691723,3155070
15,Kansas,946564,10229,934730.0,1605.0,324910,3511,6215342.0,2133427,2913314
16,Kentucky,1787563,19133,1738136.0,30294.0,400111,4283,13675281.0,3060940,4467673
17,Louisiana,1659969,19163,1612348.0,28458.0,357075,4122,18935316.0,4073167,4648794
18,Maine,326868,3110,321804.0,1954.0,243167,2314,5956082.0,4430910,1344212
19,Maryland,1394250,16928,1371142.0,6180.0,230619,2800,25094995.0,4150897,6045680
20,Massachusetts,2272428,24858,2241026.0,6544.0,329696,3607,50416970.0,7314755,6892503
21,Michigan,3142827,43284,3082734.0,16809.0,314696,4334,28943982.0,2898207,9986857
22,Minnesota,1812049,15428,1793505.0,3116.0,321306,2736,24412112.0,4328671,5639632
23,Mississippi,1000415,13474,984056.0,2885.0,336144,4527,7063623.0,2373410,2976149
24,Missouri,1780715,22778,1757937.0,0.0,290140,3711,14632189.0,2384091,6137428
25,Montana,333758,3712,329725.0,321.0,312280,3473,2789012.0,2609534,1068778
26,Nebraska,574399,5063,566979.0,2357.0,296938,2617,5506012.0,2846355,1934408
27,Nevada,909923,12126,891273.0,6524.0,295415,3937,6875532.0,2232203,3080156
28,New Hampshire,382013,3099,1371142.0,NaN,280952,2279,4845153.0,3563370,1359711
29,New Jersey,3123426,36266,3055814.0,31346.0,351650,4083,32419102.0,3649900,8882190
30,New Mexico,681525,9236,660313.0,11976.0,325027,4405,8610078.0,4106238,2096829
31,New York,7122731,78103,7014253.0,30375.0,366140,4015,14153735.0,6759879,19453561
32,North Carolina,3501404,29059,1371142.0,NaN,333846,2771,26656056.0,2541556,10488084
33,North Dakota,293570,2513,290540.0,517.0,385231,3298,2462480.0,3231338,762062
34,Ohio,3504742,42522,3430857.0,31363.0,299830,3638,24766997.0,2118811,11689100
35,Oklahoma,1306350,16157,1288527.0,1666.0,330139,4083,5473577.0,1383274,3956971
36,Oregon,974924,9544,956827.0,8553.0,231149,2263,12508506.0,2965691,4217737
37,Pennsylvania,3565499,51480,1371142.0,NaN,278511,4021,30962562.0,2418574,12801989
38,Rhode Island,443803,4166,439178.0,459.0,418935,3933,8808359.0,8314785,1059361
39,South Carolina,1857853,20311,1827064.0,10478.0,360838,3945,18979097.0,3686182,5148714
40,South Dakota,282895,3231,1371142.0,NaN,319779,3652,2331003.0,2634917,884659
41,Tennessee,2588139,29734,2548828.0,9577.0,378983,4354,14843622.0,2173560,6829174
42,Texas,8792279,94873,8598329.0,99077.0,303225,3272,14153735.0,2548789,28995881
43,Utah,1106483,5418,1096422.0,4643.0,345133,1690,9406861.0,2934181,3205958
44,Vermont,154009,929,153011.0,69.0,246814,1489,4184358.0,6705820,623989
45,Virginia,2315784,23748,2289616.0,2420.0,271311,2782,19172533.0,2246206,8535519
46,Washington,1989477,16151,1960007.0,13319.0,261261,2121,18887049.0,2480278,7614893
47,West Virginia,657760,8188,644461.0,5111.0,367023,4569,7291246.0,4068442,1792147
48,Wisconsin,2043838,16758,2020642.0,6438.0,351028,2878,19643258.0,3373719,5822434
49,Wyoming,188851,2048,186326.0,477.0,326303,3539,1572010.0,2716174,578759

In [33]:
#filling the missing values in Active cases column with the median of the column
median_Active_Cases= df['Active Cases'].median()
median_Active_Cases

6180.0

In [35]:
df['Active Cases']= df['Active Cases'].fillna(median_Active_Cases)
df

,USA State,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,Alabama,1659936,21138,1623935.0,14863.0,338542,4311,9332317.0,1903317,4903185
1,Alaska,301513,1485,298902.0,1126.0,412159,2030,4790640.0,6548661,731545
2,Arizona,2508168,33749,2461333.0,13086.0,344589,4637,22489035.0,3089698,7278717
3,Arkansas,1029976,13246,1012777.0,3953.0,341300,4389,8036831.0,2663139,3017804
4,California,12393361,104634,12227662.0,61065.0,313659,2648,14153735.0,5132573,39512223
5,Colorado,1801735,15348,1776536.0,9851.0,312870,2665,21396759.0,3715530,5758736
6,Connecticut,983652,12354,969400.0,1898.0,275897,3465,16773196.0,4704585,3565287
7,Delaware,336722,3463,331696.0,1563.0,345794,3556,1026007.0,1053651,973764
8,Florida,7758207,90232,7612612.0,55363.0,361221,4201,14153735.0,3110202,21477737
9,Georgia,3157491,43095,3075283.0,39113.0,297388,4059,28915980.0,2723446,10617423
10,Hawaii,401852,2009,395053.0,4790.0,283819,1419,4101166.0,2896566,1415872
11,Idaho,525825,5482,517984.0,2359.0,294239,3068,3301678.0,1847542,1787065
12,Illinois,4136659,42005,4094654.0,0.0,326446,3315,14153735.0,4569040,12671821
13,Indiana,2105286,26672,1371142.0,6180.0,312718,3962,21512168.0,3195405,6732219
14,Iowa,1058274,10797,1031729.0,15748.0,335420,3422,8492575.0,2691723,3155070
15,Kansas,946564,10229,934730.0,1605.0,324910,3511,6215342.0,2133427,2913314
16,Kentucky,1787563,19133,1738136.0,30294.0,400111,4283,13675281.0,3060940,4467673
17,Louisiana,1659969,19163,1612348.0,28458.0,357075,4122,18935316.0,4073167,4648794
18,Maine,326868,3110,321804.0,1954.0,243167,2314,5956082.0,4430910,1344212
19,Maryland,1394250,16928,1371142.0,6180.0,230619,2800,25094995.0,4150897,6045680
20,Massachusetts,2272428,24858,2241026.0,6544.0,329696,3607,50416970.0,7314755,6892503
21,Michigan,3142827,43284,3082734.0,16809.0,314696,4334,28943982.0,2898207,9986857
22,Minnesota,1812049,15428,1793505.0,3116.0,321306,2736,24412112.0,4328671,5639632
23,Mississippi,1000415,13474,984056.0,2885.0,336144,4527,7063623.0,2373410,2976149
24,Missouri,1780715,22778,1757937.0,0.0,290140,3711,14632189.0,2384091,6137428
25,Montana,333758,3712,329725.0,321.0,312280,3473,2789012.0,2609534,1068778
26,Nebraska,574399,5063,566979.0,2357.0,296938,2617,5506012.0,2846355,1934408
27,Nevada,909923,12126,891273.0,6524.0,295415,3937,6875532.0,2232203,3080156
28,New Hampshire,382013,3099,1371142.0,6180.0,280952,2279,4845153.0,3563370,1359711
29,New Jersey,3123426,36266,3055814.0,31346.0,351650,4083,32419102.0,3649900,8882190
30,New Mexico,681525,9236,660313.0,11976.0,325027,4405,8610078.0,4106238,2096829
31,New York,7122731,78103,7014253.0,30375.0,366140,4015,14153735.0,6759879,19453561
32,North Carolina,3501404,29059,1371142.0,6180.0,333846,2771,26656056.0,2541556,10488084
33,North Dakota,293570,2513,290540.0,517.0,385231,3298,2462480.0,3231338,762062
34,Ohio,3504742,42522,3430857.0,31363.0,299830,3638,24766997.0,2118811,11689100
35,Oklahoma,1306350,16157,1288527.0,1666.0,330139,4083,5473577.0,1383274,3956971
36,Oregon,974924,9544,956827.0,8553.0,231149,2263,12508506.0,2965691,4217737
37,Pennsylvania,3565499,51480,1371142.0,6180.0,278511,4021,30962562.0,2418574,12801989
38,Rhode Island,443803,4166,439178.0,459.0,418935,3933,8808359.0,8314785,1059361
39,South Carolina,1857853,20311,1827064.0,10478.0,360838,3945,18979097.0,3686182,5148714
40,South Dakota,282895,3231,1371142.0,6180.0,319779,3652,2331003.0,2634917,884659
41,Tennessee,2588139,29734,2548828.0,9577.0,378983,4354,14843622.0,2173560,6829174
42,Texas,8792279,94873,8598329.0,99077.0,303225,3272,14153735.0,2548789,28995881
43,Utah,1106483,5418,1096422.0,4643.0,345133,1690,9406861.0,2934181,3205958
44,Vermont,154009,929,153011.0,69.0,246814,1489,4184358.0,6705820,623989
45,Virginia,2315784,23748,2289616.0,2420.0,271311,2782,19172533.0,2246206,8535519
46,Washington,1989477,16151,1960007.0,13319.0,261261,2121,18887049.0,2480278,7614893
47,West Virginia,657760,8188,644461.0,5111.0,367023,4569,7291246.0,4068442,1792147
48,Wisconsin,2043838,16758,2020642.0,6438.0,351028,2878,19643258.0,3373719,5822434
49,Wyoming,188851,2048,186326.0,477.0,326303,3539,1572010.0,2716174,578759

In [37]:
#Checking the cleaned dataset to make sure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   USA State          50 non-null     object
 1   Total Cases        50 non-null     int64
 2   Total Deaths       50 non-null     int64
 3   Total Recovered    50 non-null     float64
 4   Active Cases       50 non-null     float64
 5   Tot Cases/ 1M pop  50 non-null     int64
 6   Deaths/ 1M pop     50 non-null     int64
 7   Total Tests        50 non-null     float64
 8   Tests/ 1M pop      50 non-null     int64
 9   Population         50 non-null     int64
dtypes: float64(3), int64(6), object(1)
memory usage: 4.0+ KB

In [39]:
#saving the cleaned dataframe to csv file
df.to_csv('cleaned_covid_dataset.csv', index=False)