In [7]:
import pandas as pd

In [9]:
df=pd.read_csv("Iris.csv")    
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,NaN,2.3,Iris-virginica
146,147,NaN,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
#print all the rows from the dataset
#pd.set_option('display.max_rows', 150)
#df

In [4]:
print(df.head(7))     #selecting first five rows from the dataset

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa

In [5]:
print(df.tail(5))    #selecting last five rows from the dataset

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            NaN           2.3
146  147            NaN           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [6]:
print(df.info())    #info of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  148 non-null    float64
 2   SepalWidthCm   147 non-null    float64
 3   PetalLengthCm  146 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [7]:
print(df.describe()) #description of dataset

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     148.000000    147.000000     146.000000    150.000000
mean    75.500000       5.845270      3.052381       3.717808      1.198667
std     43.445368       0.830567      0.437041       1.770006      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.525000      0.300000
50%     75.500000       5.800000      3.000000       4.250000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [8]:
(df.sample(6))      #randomly selecting specified number of rows or fraction of rows from the dataframe

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
123,124,6.3,2.7,NaN,1.8,Iris-virginica
9,10,4.9,3.1,1.5,0.1,Iris-setosa
59,60,5.2,2.7,3.9,1.4,Iris-versicolor
63,64,6.1,2.9,4.7,1.4,Iris-versicolor
36,37,5.5,3.5,1.3,0.2,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa

In [9]:
#Handling the missing values in the dataset:
#removing rows with any missing values
#df.dropna(inplace=True)
#df

In [15]:
#Replace the missing value with 0(zero)
#df.fillna(value=0,inplace=True)
#df

In [11]:
#Remove duplicate rows
#df.drop_duplicates(inplace=True)
#df

In [12]:
#Rename column ({'OldName': 'NewName'}
# inplace=True replaces the original column without creating a new variable to store the column or dataframe
df.rename(columns={"SepalLengthCm":"SepallongCm"}, inplace=True)
df
#df.rename(columns={"SepalLengthCm":"SepalLongCm"}, {"SepalWidthCm":"SepalThicknessCm"}, inplace=True)
#df

,Id,SepallongCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,0.0,2.3,Iris-virginica
146,147,0.0,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
#checking dataframe after cleaning
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepallongCm    150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [14]:
#saving cleaned data to a new csv file  #we need to pass the second argument,index=false to avoid new unnamed column of index values in the new csv dataframe
df.to_csv('New Iris.csv',index=False)

In [15]:
df2=pd.read_csv('New Iris.csv')
df2

,Id,SepallongCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,0.0,2.3,Iris-virginica
146,147,0.0,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
missing_values=df2.isnull().sum()  
print(missing_values)

Id               0
SepallongCm      0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [17]:
selected_col=df['PetalLengthCm']  #selecting specific column
selected_col

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    0.0
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

In [18]:
filtered_df=df[df['PetalLengthCm']>5]
filtered_df

,Id,SepallongCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
83,84,6.0,2.7,5.1,1.6,Iris-versicolor
100,101,6.3,3.3,6.0,2.5,Iris-virginica
101,102,5.8,2.7,5.1,1.9,Iris-virginica
102,103,7.1,3.0,5.9,2.1,Iris-virginica
103,104,6.3,2.9,5.6,1.8,Iris-virginica
104,105,6.5,3.0,5.8,2.2,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
108,109,6.7,2.5,5.8,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
110,111,6.5,3.2,5.1,2.0,Iris-virginica
111,112,6.4,2.7,5.3,1.9,Iris-virginica
112,113,6.8,3.0,5.5,2.1,Iris-virginica
114,115,5.8,2.8,5.1,2.4,Iris-virginica
115,116,6.4,3.2,5.3,2.3,Iris-virginica
116,117,6.5,3.0,5.5,1.8,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
120,121,6.9,3.2,5.7,2.3,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
#mean
mean_values= df['SepalWidthCm'].mean()
mean_values

3.0523809523809526

In [13]:
mean_values= df['PetalWidthCm']. mean()
mean_values

1.1986666666666668

In [17]:
df.isnull().sum()

Id               0
SepalLengthCm    2
SepalWidthCm     3
PetalLengthCm    4
PetalWidthCm     0
Species          0
dtype: int64

In [19]:
mean_values= df['SepalLengthCm']. mean()
mean_values

5.8452702702702695

In [21]:
mean_values= df['PetalLengthCm']. mean()
mean_values

3.7178082191780817

In [25]:
df.fillna(value= mean_values, inplace= True)    #Replacing the null values with their respective mean_values.
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.100000,3.5,1.400000,0.2,Iris-setosa
1,2,4.900000,3.0,1.400000,0.2,Iris-setosa
2,3,4.700000,3.2,1.300000,0.2,Iris-setosa
3,4,4.600000,3.1,1.500000,0.2,Iris-setosa
4,5,5.000000,3.6,1.400000,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.700000,3.0,3.717808,2.3,Iris-virginica
146,147,3.717808,2.5,5.000000,1.9,Iris-virginica
147,148,6.500000,3.0,5.200000,2.0,Iris-virginica
148,149,6.200000,3.4,5.400000,2.3,Iris-virginica
149,150,5.900000,3.0,5.100000,1.8,Iris-virginica

In [27]:
#checking dataframe again after replacing the none with mean_values
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64